@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 25px;
        --font_size_title_small: 20px;
    }


    .cont
    {
        padding: 0 20px;
    }



    /*--------------------
        Adventume link
    --------------------*/
    .adventume_link
    {
        top: auto;
        bottom: 0;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination a.link
    {
        font-size: 14px;
        line-height: 38px;

        width: 36px;
        height: 36px;
    }


    .pagination .prev
    {
        font-size: 14px;

        margin-right: 16px;
    }

    .pagination .next
    {
        font-size: 14px;

        margin-left: 16px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion .item
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }



    /*------------
        Header
    ------------*/
    .mob_header .logo a,
    .mob_header .logo img
    {
        height: 27px;
    }


    .mob_header .search .btn,
    .mob_header .favorite .link,
    .mob_header .cart .link,
    .mob_header .account .login_btn,
    .mob_header .account .link
    {
        width: 32px;
        height: 32px;
    }


    .mob_header .favorite,
    .mob_header .cart,
    .mob_header .account
    {
        margin-left: 2px;
    }


    .mob_header .mob_menu_btn
    {
        width: 38px;
        height: 32px;
        margin-right: -7px;
        margin-left: 0;
        padding: 7px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/
    .block_head .exp
    {
        font-size: 12px;
        line-height: 16px;

        margin-top: 10px;
        padding: 9px 14px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of3,
    .form .columns > *.width2of3
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .line.row .label
    {
        display: block;

        width: 100%;
        min-height: 0;
        margin-bottom: 4px;

        text-align: left;
    }

    .form .line.row .field
    {
        width: 100%;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 23px;
    }

    .text_block h3,
    .text_block h4
    {
        font-size: 20px;
    }


    .text_block > img
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }

    .text_block img.right,
    .text_block img.left
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }


    .text_block .text_carousel .block_title
    {
        font-size: 22px;
    }


    .text_block .message
    {
        width: calc(100% + 40px) !important;
        max-width: calc(100% + 40px) !important;
        margin-right: -20px;
        margin-left: -20px;
        padding: 20px;
    }


    .text_block .table_wrap
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 40px 20px;
    }

    .action_form .info .title
    {
        font-size: 23px;
    }



    /*---------------
        Materials
    ---------------*/
    .materials .row > *
    {
        width: calc(100% - 12px);
    }


    .materials .material
    {
        font-size: 16px;
        line-height: 21px;
    }

    .materials .material .name
    {
        padding: 20px 24px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info table tr
    {
        padding-left: 0;
    }


    .cart_info table td.thumb
    {
        position: relative;
        top: 0;

        margin-bottom: 16px;
    }


    .cart_info table td.info
    {
        padding-right: 0;
    }


    .cart_info table td.color
    {
        top: 0;
        bottom: auto;
        left: 50%;

        margin-left: 24px;
    }



    .cart_info .bottom .cart_total .price b
    {
        font-size: 22px;
        line-height: 26px;
    }


    .cart_info .bottom .notice
    {
        padding: 15px 19px 15px 19px;
    }

    .cart_info .bottom .notice .icon
    {
        width: 32px;
        height: 32px;
    }

    .cart_info .bottom .notice .icon + div
    {
        width: calc(100% - 48px);
    }



    /*---------------
        Selection
    ---------------*/
    .selection .grid
    {
        display: block;

        margin: 0;
    }


    .selection .section .check_icons > *
    {
        width: calc(20% - 8px);
    }


    .selection .section .submit
    {
        position: relative;

        margin-top: 32px;
        padding: 0;
    }

    .selection .section .submit_btn
    {
        width: 134px;
    }

    .selection .section .reset_btn
    {
        width: auto;
        padding: 8px 12px;
    }



    /*--------------
        Products
    ---------------*/
    .products .product .data
    {
        padding: 14px 19px 19px;
    }


    .products .product .chart
    {
        width: 124px;
        height: 124px;
        margin-bottom: 20px;
    }

    .products .product .chart_info
    {
        width: calc(100% - 152px);
        margin-bottom: 20px;
    }


    .products .product .favorite_btn
    {
        width: auto;
    }


    .products .product .features
    {
        width: 100%;
        margin-top: 16px;
    }


    .products .product .icons
    {
        width: 100%;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .info
    {
        padding: 20px;
    }

    .first_section .info .title
    {
        font-size: 24px;
    }

    .first_section .info .desc
    {
        font-size: 16px;
        line-height: 20px;

        margin-top: 12px;
    }



    /*----------------
        Industries
    ----------------*/
    .industries .item .name
    {
        font-size: 17px;
        line-height: 21px;
    }



    /*------------------------
        LK info - personal
    ------------------------*/
    .lk_info .personal .form .line
    {
        margin-bottom: 16px;
    }


    .lk_info .personal .bottom .change_pass_btn
    {
        font-size: 15px;
        line-height: 21px;

        padding: 12px 20px;
    }


    .lk_info .personal .bottom .notice
    {
        font-size: 14px;
        line-height: 20px;

        padding: 15px 19px;
    }

    .lk_info .personal .bottom .notice .icon
    {
        width: 32px;
        height: 32px;
    }

    .lk_info .personal .bottom .notice .icon + div
    {
        width: calc(100% - 48px);
    }



    /*---------------------------
        LK info - settlements
    ---------------------------*/
    .lk_info .settlements table td,
    .lk_info .settlements table td + td,
    .lk_info .settlements table td:first-child,
    .lk_info .settlements table td:last-child
    {
        width: 50%;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .data .product_name
    {
        font-size: 23px;
        line-height: 28px;
    }


    .product_info .buy .price .val
    {
        font-size: 17px;
        line-height: 21px;

        height: 38px;
    }

    .product_info .buy .price .val b
    {
        font-size: 24px;
        line-height: 28px;
    }


    .product_info .buy .amount button
    {
        width: 38px;
        height: 38px;
    }

    .product_info .buy .amount .input
    {
        width: 64px;
        height: 38px;
        margin: 0 38px;
    }


    .product_info .buy .total_price
    {
        font-size: 16px;
        line-height: 20px;

        width: 100%;

        text-align: center;
    }


    .product_info .buy .buy_btn
    {
        width: 100%;
        margin-top: 12px;
    }



    /*---------------
        Recommend
    ---------------*/
    .recommend .product .total
    {
        padding: 12px 16px;
    }

    .recommend .product .total_price
    {
        font-size: 15px;
    }

    .recommend .product .total_price .val
    {
        font-size: 18px;
        line-height: 22px;
    }

    .recommend .product .total_price .val b
    {
        font-size: 18px;
        line-height: 24px;
    }


    .recommend .product .buy_btn
    {
        margin-left: 0;
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block .data
    {
        padding: 24px 32px;
    }


    .contacts_block img
    {
        display: none;
    }



    /*------------
        Footer
    ------------*/
    footer .socials
    {
        width: 100%;
        margin-top: 20px;
    }


    footer .contacts .phone a
    {
        font-size: 18px;
        line-height: 24px;
    }


    footer .privacy_policy
    {
        width: 100%;
        margin-top: 8px;
    }



    /*-----------
        PopUp
    -----------*/
}
